<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Система управления производственными заявками</title>
</head>
<body>
  <div id="application"></div>
</body>
</html>
